<!-- <div class="w-full bg-slate-200 p-4">
    <h1>Projet</h1>
    <div class="pt-3 flex gap-2 w-full">
        <input class="w-[95%]" type="text" placeholder="Rechercher" />
        <button>Search</button>
    </div>
</div>
<div class="flex flex-wrap mt-4 gap-2 w-full justify-center">
    <div class="w-[32%] h-96 bg-gray-200 rounded border border-slate-400 relative">
        <h2 class="pl-2">
            Todo
        </h2>
        <button class="bg-transparent flex flex-wrap absolute bottom-0" (click)="addItemTodo()"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>Add item
        </button>
    </div>
    <div class="w-[32%] h-96 bg-gray-200 rounded border border-slate-400 relative">
        <h2 class="pl-2">In Progress</h2>
        <div class="bg-white m-2 p-1 rounded border border-slate-400">
            <h3>Item 1</h3>
            <p>Description Item</p>
        </div>
        <button class="bg-transparent flex flex-wrap absolute bottom-0" (click)="addItemProgress()"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>Add item
        </button>
    </div>
    <div class="w-[32%] h-96 bg-gray-200 rounded border border-slate-400 relative">
        <h2 class="pl-2">Done</h2>
        <button class="bg-transparent flex flex-wrap absolute bottom-0" (click)="addItemDone()"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>Add item
        </button>
    </div>
</div>
 -->


 <section class="bg-slate-100 p-4">
    <form [formGroup]="projetForm" class="flex flex-col gap-2 w-full maw-w-xl">
        <label>Titre</label>
        <input class="w-full h-10" [formControl]="projetForm.controls.title"/>
        <label>Identifiant</label>
        <input class="w-full h-10" [formControl]="projetForm.controls.id"/>
        <label>Status</label>
        @for(control of projetForm.controls.status.controls; track $index) {
            <input [formControl]="control"/>
        }
        <button (click)="addStatus()">Ajouter un statut</button>
        <label>Task</label>
        @for(form of projetForm.controls.tasks.controls; track $index) {
            <input type="text" [formControl]="form.controls.title"/>
            <input type="text" [formControl]="form.controls.description"/>
            <select>
                @for( option of projetForm.controls.status.value; track $index) {
                    <option [value]="option">{{ option }}</option>
                }
            </select>
            <input type="date" [formControl]="form.controls.start"/>
            <input type="date" [formControl]="form.controls.end"/>
        }
        <button (click)="addTask()">Ajouter une tâche</button>
    </form>
    <!-- <button class="w-full mt-5" (click)="update()">Enregistrer</button> -->
 </section>